# Entorno virtual
.venv/

# Archivos que genera Python
__pycache__/
*.pyc

# Archivos que generan las herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/